name: Golang Test

on:
  workflow_call:
    inputs:
      go-version:
        type: string
        description: The version of Golang to use, defaults to '^1.17'.
        required: false
        default: ^1.17
      test-path:
        type: string
        description: The path that the tests will be run from, defaults to './...'.
        default: ./...

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: ${{ inputs.go-version }}
      - name: Run Tests
        run: go test -v ${{ inputs.test-path }}
